table{
    border:"4";
     cellpadding:"1";
      bordercolor:"#00000";
       bgcolor:"#000000";
        cellspacing:"2";
         width:"222"
}
table{
   align:center;
   size:"25";
   length:"25";
}
body{

    background-color:papayawhip;
}

li {

    float: left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
