table{
    border:"4";
     cellpadding:"1";
      bordercolor:"#00000";
       bgcolor:"#000000";
        cellspacing:"2";
         width:"222"
}
table{
   align:center;
   size:"25";
   length:"25";
}